<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <title>Pypie Derby</title>
</head>
<body>
    <a href="/dashboard">Dashboard</a>
    <a href = "/clear">logout</a>
    <div class="container">
        <h1 class="display-1">{{pie.name}} By {% for user in users %}{% if user.id == pie.user_id%}{{user.first_name}} {% endif %}{% endfor %}</h1>
        <p>{{pie.filling + " with" + pie.crust}}</p>
        <p>Aww yuck!  You have already voted for this pie!  If you would like to remove your vote please click below:</p>
        <a href="/yuck/{{pie.id}}">Yuck</a>
    </div>